h1 {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
}
.nav {
  background-color: black;
  color: white;
  position: fixed;
  width: 1280px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  margin: 0px auto;
  padding: 15px;
}
.box {
  width: 1280px;
  max-width: 1280px;
  height: fit-content;
  padding-top: 70px;
  margin: 0px auto;
}
.box1 {
  display: flex;
}
.box2 {
  margin: auto 20px;
}
.box2_1 {
  margin: 20px 0px;
  font-size: 20px;
}

/* 메인 페이지 네비게이션바 - 로그인 아이콘 */
.bi-person-fill {
  width: 30px;
  height: 30px;
}
.bi-person-fill:active {
  color: white;
}

/* 메인 페이지 네비게이션바 - who am I */
.clickwho {
  color: white;
}
.clickwho:hover {
  text-decoration: overline;
}

/* 메인 페이지 사진 */
.aiimg {
  width: 50%;
  padding: 30px;
}
